<div class="card-container">
  <img [src]="recipe.image" alt="Recipe image" class="card-image" />

  <div class="card-content">
    <h3 class="recipe-title">{{ recipe.name }}</h3>
    <p><strong>🍽️ Cuisine:</strong> {{ recipe.cuisine }}</p>
    <p><strong>🎯 Difficulty:</strong> {{ recipe.difficulty }}</p>
    <p><strong>⏱️ Prep Time:</strong> {{ recipe.prepTimeMinutes }} mins</p>
    
    <!-- <button class="details-button" (click)="goToRecipePage()">
      Show recipe →
    </button> -->
  </div>
</div>