<div class="home-container">
  <h1 class="main-title">Cook & Eat</h1>

  <div class="header-section">
    <h2 class="section-title">Explore Our Recipes</h2>

    <div class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Search for a recipe..."
        [(ngModel)]="searchValue"
        (ngModelChange)="onSearchChange()"
      />
      <button class="add-button" (click)="redirectToAddRecipe()">
        ➕ Add Recipe
      </button>
    </div>
  </div>

  <div class="card-container">
    @for (recipe of dbRecipes; track $index) {
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    }
    @for (recipe of filteredRecipes; track $index) {  
    <app-recipe-card [recipe]="recipe"></app-recipe-card> } @empty {
      <div class="no-results">No recipes found 😢</div>
    }
  </div>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>